.column{
    width:33.33%;
}
.row{
    display:flex;
    flex-wrap: wrap;
    height:90%;
    margin-top:40px;
}
.card{
  background-color: white;
  margin-bottom: 40px;
  margin-left:50px;
  width:80%;
  height: 30%;
  text-align: center;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
    cursor: pointer;
}
img{
    width:250px;
    height:250px;
}